@import url("variables.css");


body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--neutral-10);
    color: var(--neutral-70);
}


/*************************************************** MOBILE VIEW */

/* VIEWPORT */
.hero, .contactme-section {
    width: var(--large-viewport);
    margin: 0 auto;
}

/* MAIN HEADER */
.cover{
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    max-width: 90vw;
    margin: 0 auto;
    background-color: var(--neutral-10);
}
.penguin-logo img {
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
}
.main-nav {
    display: none;
}

/* NAVIGATION */
.nav-button:hover {
    cursor: pointer;
}
/* NAVIGATION CONTAINER */
.nav-list-container {
    display: none;
    font-size: 24px;
}
.nav-button:hover {
    cursor: pointer;
}
.nav-list-container {
    display: none;
    font-size: 24px;
}
.nav-list-container.open {
    display: block;
    width: 100%;
    height: 100vh;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  
    background-color: #E3EEF5;
}
.nav-list-container.open ul {
    list-style-type: none;
    padding: 0;
    margin-top: 16px;
  
    text-align: center;
}
.nav-list-container.open a {
    color: var(--bluegreen-60);
    line-height: 2;
}
.nav-list-container.open a:hover {
    color: #81B6BF;
}
.nav-list-container.open a:active {
    color: var(--neutral-100);
} 
.nav-list-container.open #primary-nav-close {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}

/* HERO COVER */
.cover-description {
    margin: 20px auto;
}
h2 {
    margin: 20px 0;
}

.cover-title-web, .cover-title-mobile {
    color: var(--bluegreen-60);
    font-size: 24px;
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    place-items: baseline;
    gap: 8px;
}

.cover-title-web a, .cover-title-mobile a {
    color: var(--bluegreen-60);
}

.cover-title-web i:hover, .cover-title-mobile i:hover {
    color: #81B6BF;
    cursor: pointer;
}

.cover-title-web {
    display: none;
}

.cover-image img {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px
    /* transform: translate(-50%, -50%); */
    /* z-index: -2; */
}
.cover-subtitle h3 {
    color: var(--neutral-100);
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0px 0px;
    text-transform: uppercase;
}
.cover-details p {
    font-size: 16px;
    margin: 0px 0px 10px 0px;
}
.cover-description {
    margin: 20px auto 50px auto;
}

/* PROJECT */
.main-content {
    width: 90vw;
    margin: 0 auto;
    align-items: center;

    margin-bottom: 50px;
}

.side-nav-category {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lightgray;
}

.side-nav {
    display: none;
}

.category-nav-title {
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 700;
    color: var(--bluegreen-60);
    font-size: 32px;
    margin: 0;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--neutral-40);

    margin: 0;
    padding: 0;
}

.content-title {
    font-family: "museo-sans-rounded", sans-serif;
    font-weight: 700;
    color: var(--neutral-80);
    font-size: var(--fz-medium);
    margin: 20px 0 0 0;
}
.content p {
    font-size: 16px;
    margin: 0px 0px 10px 0;
}

/* TIMELINE */
.timeline-images, .brainstorming-images {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #F9FAFF;
    border-radius: 10px;
}

.brainstorming-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.brainstorming-images img{
    height: auto;
    width: auto
}



.image {
    display: flex;
    place-content: center;
    place-items: center;
}
.image img {
    border-radius: 5px;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

/* SUB-PARTS */
.sub-content-features {
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 5px;
}

.sub-content {
    display: flex;
    flex-direction: column;
}

.features {
    font-size: var(--fz-regular);
    font-weight: var(--font-weight-semibold);

    padding: 0;
    margin: 0;
}

.parts-title {
    font-size: var(--fz-regular);
    font-weight: var(--font-weight-semibold);

    padding: 0;
    margin: 0;

}

.persona {
    margin: 20px 0;
    padding: 20px 0;
    border-radius: 10px;
    background-color: #F9FAFF;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    gap: 100px;
}

#cocotrade-bg-color-images {
    background-color: #F1F7F8;
}

.sub-content-images img {
    max-width: 90%;
    height: auto;
    width: auto;
}

#competitor-background {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #5D1CFF;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.userflow-image, .sub-content-images {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #F9FAFF;
    display: flex;
    flex-direction: column;
    gap: 50px;
    place-content: center;
    place-items: center;
}

.screens h6 {
    text-transform: uppercase;
    color: var(--neutral-100);
    letter-spacing: 2px;
    margin: 20px 0;
}

/* PAGINATION */
.pagination {
    width: 90vw;
    place-items: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    place-content: space-between;

    margin: 0 auto;
}

.pagination-title {
    font-size: var(--xxsmall);
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--neutral-40);
    margin: 0;
}

.pagination-wrapper a {
    font-family: var(--primary-font);
    color: var(--bluegreen-60);
    font-size: var(--fz-regular);

    text-decoration: none;
    margin: 0;
}

.pagination-wrapper a:hover {
    color: #186973;
}

.pagination-wrapper:nth-of-type(2) {
    display: flex;
    flex-direction: column;;
    place-items: flex-end;
}


/* FOOTER */
footer {
    background-color: #FBFDFD;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    padding: 50px 0px;
}
.contactme-wrapper {
    width: 100%;
    height: 100%;
    margin: 20px 0px 20px 0px;
}
.contactme-title {
    font-family: "museo-sans-rounded", sans-serif;
    font-size: 24px;
    margin: 10px 0px;
    color: var(--bluegreen-60);
}
.links {
    display: flex;
    gap: 40px;

    font-size: 16px;
}
.links a {
    color: var(--neutral-40);
    text-decoration: none;
    font-weight: 600;

    position: relative;
    text-wrap: balance;
    transition: ease-in-out 0.2s;
}
.links a:hover {
    color: #186973;
}









/****************************************************** WEBSITE VIEW */

/* MQ 600px */
@media screen and (min-width: 600px) {

    .main-header, .cover-content, .main-wrapper, .main-content, .contactme-section {
        width: 90vw;
        margin: 0 auto;
    }

    .penguin-logo img{
        width: 60px;
        height: auto;
    }

    .timeline-images, .persona {
        flex-direction: row;
    }

    .content-title {
        font-size: var(--fz-large)
    }

    .content p {
        font-size: 18px;
    }

    .cover-subtitle h3 {
        font-size: 16px;
    }

    .cover-details p {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .subtitle {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--neutral-40);
    }

    .parts-title {
    font-size: var(--fz-medium);
    font-weight: var(--font-weight-semibold);

    padding: 0;
    margin: 0;

}

}

@media screen and (min-width: 768px) {

    /* NAVIGATION */
    .nav-button {
        display: none;
    }

    .main-nav {
        display: flex;
    }

    .main-nav ul {
        list-style-type: none;
        display: flex;
        gap: 32px;
    }

    .main-nav ul li a {
        font-family: "museo-sans-rounded", sans-serif;
        text-decoration: none;
        color: #004750 ;
        font-size: 20px;
    }

    .main-nav ul li a:hover {
        color: #186973;
    }

    .main-nav ul li a:active {
        color: #FFFFFF;
    }

    #persona {
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    #persona img {
        width: 45%;
        height: auto;
    }   

    .contactme-section {
        display: flex;
    }

    .contactme-section {
        gap: 200px;
        place-content: space-between;
    }

    .pagination-wrapper a {
    font-family: var(--primary-font);
    color: var(--neutral-40);
    font-size: var(--fz-large);
    }

    .contactme-section h3 {
        font-size: 32px;
    }

    .links {
        font-size: 20px;
        font-weight: semibold;
    }

    /* PAGINATION */
    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        place-content: space-between;
    }

    .pagination-title {
        font-size: var(--xsmall);
        font-family: var(--secondary-font);
        font-weight: 400;
        color: var(--neutral-60);
        margin: 0;
    }

    .pagination-wrapper a {
        font-family: var(--primary-font);
        color: var(--neutral-40);
        font-size: var(--fz-large);

        text-decoration: none;
        margin: 0;
    }

    .pagination-wrapper a:hover {
        color: var(--bluegreen-60);
    }

    .contactme-wrapper:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        place-items: flex-end;
    }
}

@media screen and (min-width: 979px) {

    /* VIEWPORT */

    .features {
    font-size: var(--fz-regular);
    font-weight: var(--font-weight-semibold);
    }

    .contactme-section {
        gap: 200px;
    }

    .contactme-section h3 {
        font-size: 32px;
    }
}

@media screen and (max-width: 1598px) and (min-width: 599px) {
    .cover-image img{
        height: 500px
    }
}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MEDIA QUERY ********************************************************** */
@media screen and (min-width: 1599px) {

    /* VIEWPORT */
    .main-header, .cover-content, .main-wrapper, .pagination, .contactme-section {
        width: 80vw;
        margin: 0 auto;
    }

    .main-content {
        width: 65%;
    }

    .main-nav ul li {
        display: block;
    }

    .hero {
        position: relative;
        height: 100vh;
        overflow: hidden;
        width: 100vw;
    }

    .main-header {
        background-color: transparent;
        position: relative;
        z-index: 2;
    }

    .cover-image {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .cover-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        border-radius: 0;
    }

    .cover-content {
        margin-top: 180px;
    }

    .cover-title-mobile {
        display: none;
    }

    .cover-title-web {
        display: flex;
    }
    .cover-title-web {
        place-items: baseline;
    }

    .cover-title-web h2 {
        font-size: 64px;
    }

    .cover-subtitle h3 {
        font-size: 16px;
    }

    .cover-details p {
        margin-bottom: 20px;
        font-size: 20px;
    }

    .side-nav {
        display: block;
        align-self: start;
        position: sticky;
        top: 0;
        height: max-content;
        z-index: 10;
        width: 200px
    }

    .nav-wrapper {
        margin-bottom: 50px;
    }

    .nav-wrapper h4 {
        font-family: "museo-sans-rounded", sans-serif;
        font-weight: 700;
        color: var(--bluegreen-60);
        font-size: 32px;
    }

    .sub-nav {
        margin: 20px 0px 10px 0px;
    }

    .container-nav ul {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    .container-nav ul li {
        margin: 5px 0px;
    }

    .container-nav ul li a {
        text-decoration: none;
        font-size: 20px;

        color: var(--neutral-40);
    }

    .container-nav ul li a:hover {
        color: #004750;
    }

    .main-wrapper {
        display: flex;
        gap: 100px;
    }

    /* .main-content {
        margin-top: 55px;
    } */

    /* .timeline-images {
        flex-direction: row;
    } */

    .category-nav-title {
        display: none;
    }

    .sub-content-images img {
        width: auto;
        height: auto;
        margin: 0 auto;
        text-align: center;
        align-items: center;

        display: flex;
        flex-direction: row;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        place-content: space-between;
    }

}