body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: #404040;
}


/* NAVIGATION */
.penguin-logo img{
    width: 75px;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
}


.projects-nav ul {
    list-style-type: none;

    display: flex;
    gap: 32px;
}

.projects-nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #68899C;
}