body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: #404040;
}


/* NAVIGATION */

/* .cover {
    position: relative;
    height: 100vh;
    overflow: hidden;
} */

.penguin-logo img{
    width: 75px;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
}


.projects-nav ul {
    list-style-type: none;

    display: flex;
    gap: 32px;
}

.projects-nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #68899C;
}

.cover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.cover-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
