body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: white;
}



.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    max-width: 80vw;
    margin: 0 auto;
}

.penguin-logo img{
    width: 75px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;

}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 150px;
    max-width: 80vw;
    align-items: center;

}

.hero-content p {
    max-width: 800px;
    margin: 0 auto;
}

.contents ul li a {
    text-decoration: none;
    color: #536E7D;
    font-size: 18px;
}

.name{
    font-size: 60px;
    color: #003940;
}

.project-title {
    font-size: 1.5rem;
    /* text-transform: uppercase; */
 }

 .homepage {
    width: 80vw;
    margin: 0 auto;
    align-items: center; 
 }

 .majors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;
    padding: 75px 0;
 }

 .project-title {
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 2px;

    color: #004750;
 }

 .project-text {
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
 }

 .product-image {
    grid-column: 2/2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
 }

 .majors .product-image:nth-child(1) {
    background-color: #E3E9FE;
}



 .product-image img {
    width: 200px;
    height: auto;
 }

 .tabs {
    display: flex;
    gap: 20px;
 }

 .role a {
    background-color: #F0F3F5;
    padding: 8px 15px;
    color: #68899C;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
 }

 .product-description {
    font-size: 20px;
 }

 footer {
    background-color:#F0F3F5;
    display: block;
    margin: 0 auto;

 }

 .connect-wrapper {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 .view-project {
    background-color: #004750;
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1px;
 }